body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.web{
    font-family: 'Raleway', sans-serif;
    color: #2196f3;
}
.web2{
    font-family: 'Raleway', sans-serif;
    color: #2196f3;
}
.logo{
    color:black;
    font-weight:700;
    font-size: 26px;
    line-height:1.5;
    text-decoration: none;
}
.logo_2{
    color:white;
    font-weight:700;
    font-size: 26px;
    line-height:1.5;
    text-decoration: none;
}
.nav_link{
    color:black;
    font-size: 14px;
    font-weight:500;
    line-height:1.1;
    text-decoration: none;
}
.nav_link:focus,
.nav_link:hover{
    color: #2196f3;
}
.contact{
    color:#757575;
    font-size: 14px;
    font-weight:500;
    line-height:1.1;
    text-decoration: none;
}
.contact:hover,
.contact:focus{
    color: #2196f3;
}
.nav{
    list-style-type: none;
}
.info{
    list-style-type: none;
}
h1{
    text-align: center;
    font-size:44px;
    font-weight:900;
    line-height:1.3;
    color: white;
}
.subject{
    font-size:14px;
    font-weight:700;
    line-height:1.1;
}
.info_sub{
    color:#757575;
    font-size:14px;
    font-weight:400;
    line-height:1.7;
}
.wdoing{
    text-align: center;
    font-size:36px;
    font-weight:700;
    line-height:1.1;
}
.buy{
    width: 216px;
    height:50px;
    font-size:16px;
    font-weight:700;
    color: #FFFFFF;
    background:#2196f3;
}
.buy:hover,
.buy:focus{
    background:#757575;
}
.hero{
    background: #2F303A;
}
.advant{
    display: none;
}
.gallery{
    list-style-type: none;
}
.img{
    width:370px;
    height:294px;
}
.we_team{
    text-align: center;
    font-size:36px;
    font-weight:700;
    line-height:1.1;
}
.team{
    background: #F5F4FA;
}
.list_team{
    list-style-type: none;
}
.team_card{
    width:270px;
    height:368px;
}
.name{
    text-align: center;
    font-size:16px;
    font-weight:500;
    line-height:1.1;
}
.job_title{
    text-align: center;
    font-size:16px;
    font-weight:400;
    line-height:1.1;
    color:#757575;
}
footer{
    background: #2F303A;
}
.info_adres{
    list-style-type: none;
}
.adres_item{
    font-size:14px;
    font-weight:400;
    line-height:1.7;
    color: #FFFFFF;
    text-decoration: none;   
}
.adres_item:focus,
.adres_item:hover{
    color: #2196f3;
}
.adres_item2{
    font-size:14px;
    font-weight:400;
    line-height:1.7;
    color: rgb(255, 255, 255, 60%);
    text-decoration: none;   
}
.adres_item2:hover,
.adres_item2:focus{
    color: #2196f3;
}
.btn_list{
    list-style-type:none;
}
.btn_1,.btn_2,.btn_3,
.btn_4,.btn_5{
    height:38px;
    color: #FFFFFF;
    background: #2196f3;
    font-size:16px;
    font-weight:500;
    line-height:1.6;
}
.btn_1{
    width:73px;
}
.btn_2{
    width:125px;
}
.btn_3{
    width:112px;
}
.btn_4{
    width:103px;
}
.btn_5{
    width:130px;
}
.btn_1:hover,.btn_1:focus,
.btn_2:hover,.btn_2:focus,
.btn_3:hover,.btn_3:focus,
.btn_4:hover,.btn_4:focus,
.btn_5:hover,.btn_5:focus{
    background:#757575;
}
.gallery_2{
    list-style-type: none;
}
.portfol_info{
    font-size:18px;
    font-weight:700;
    line-height:2;
}
.activity{
    font-size:16px;
    font-weight:400;
    line-height:1.8;
    color:#757575;
}
.img_2{
    width:370px;
    height:294px;
}
.item_card{
    width:370px;
    height:404px;
    text-align:left;
}